body {
  padding-top: 50px;
  color: #333;
  font-size:25px;
}

#app {
  padding: 65px 20px;
  text-align: center;
}

.fa-cog {
  margin-top: 3em;
}

#loaded {
  text-align: center;
}

#searchbar {
  border-radius: 3em;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: .8em;
}

h1, .h1 {
  font-size: 2em;
}

pre {
  margin: 20px 0 30px;
}

ul {
  list-style: none;
}

#loaded ul {
  padding-bottom: .5em;
}

#loaded li a {
  padding-left: 1.6em;
}

#loaded li a:before {
  content: '\f178';
  font-family: FontAwesome;
  display: inline-block;
  width: 1.6em; /* same as padding-left set on li */
  margin-left: -1.6em; /* same as padding-left set on li */
}

.navbar-brand {
  font-size: 1.3em;
}

.desc {
  margin-bottom: 2em;
}

.form-group {
  margin: 10px;
}

.form-control {
  font-size: 18px;
}

.articles-list {
  display: inline-block;
  text-align: left;
}

.articles-list h3 {
  text-transform: capitalize;
  margin-bottom: .2em;
}

.article, .list-group {
  text-align: left;
}

.title {
  text-align: center;
}

.last-edit {
  text-align: center;
  margin: 2em auto 3em;
}
